@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

:root {
	--white: #deeaee;
    --mint: #b1cbbb;
    --mint-hover: #649c7a;
    --pink: #eea29a;
    --red: #CB4324;
    --red-hover: rgb(165, 16, 16);
    --dark-red: #8d1414;
    --font: 'Mountains of Christmas', cursive;
}

body {
    background-color: var(--dark-red);
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: var(--font);
    position: relative;
    text-align: center;
    color: var(--pink);
    font-size: 2em;
}

.nav-link {
    display: flex;
    align-items:center;
    color: var(--mint);
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease-in-out color;
    padding: 0 1em;
}

.nav-link:hover {
    color: var(--mint-hover);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em 2em;
}

.navbar .nav-list {
    display: flex;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.content {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.button {
    display: block;
    width: fit-content;
    font-size: 1.8em;
    padding: .5em 1em;
    border-radius: 15px;
    border: 3px solid white;
    font-family: var(--font);
    background-color: var(--red);
    color: var(--white);
    transition: 0.3s;
    outline: none;
}


.button:hover {
    background-color: var(--red-hover);
    transform: scale(1.01);
}

.bold {
    font-weight: 600;
}

.countdown {
    padding-bottom: 1em;
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: .3em;
    }
    .nav-link {
        font-size: .8em;
        padding: .2em .4em;
    }
    #title {
        font-size: 1.2em;
    }
    .countdown {
        font-size: .8em;
    }
}



/* Snow canvas */
#snow-canvas {
    position: fixed;
    z-index: -5;
    width: 100%;
    height: 100%;
}

#snow-toggler {
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
}
#cross {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: var(--red);
    transform: translate(-50%, -50%);
}

/* Popup */
.popup {
    visibility: hidden;
    position: fixed;
    border: 5px solid white;
    border-radius: 15px;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--mint);
    color: var(--dark-red)
}
.popup-exit-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: var(--dark-red);
    font-weight: 700;
    font-size: 1em;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: 0.3s ease-in-out background-color, color;
}

.popup-exit-btn:hover {
    background-color: var(--red);
    color: var(--mint);
}