<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{{ site.asseturl }}css/index.css">
    <link rel="icon" href="{{ site.asseturl }}images/logo.svg"/>
    <title>Gingerbread Competition 2021</title>
</head>
<body>

    <canvas id="snow-canvas"></canvas>

    <nav class="navbar">
        <a class="navbrand" href="{{ site.baseurl }}"><img src="{{ site.asseturl }}images/logo.svg"></a>
        <div class="nav-list">
            <a class="nav-link" href="javascript:void(0);" id="snow-toggler">
                <span id="cross" class="hidden">X</span>
                Snö
            </a>
            <a class="nav-link" href="{{ site.baseurl }}winners">tidigare vinnare</a>
            <a class="nav-link" href="{{ site.baseurl }}rules">regler</a>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="{{ site.asseturl }}js/index.js"></script>

    <div class="content">
        {{ content }}
    </div>

</body>

</html>